.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, .08), 0 3px 0 4px rgba(0, 0, 0, .05);
  color: #fff;
}

@media only screen and (min-width:1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1.5em;
    width: 44%;
    color: #fff;
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content span {
    margin: 0 10px;
    color: #000;
  }
}

@media only screen and (min-width:1600px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1.5em;
    width: 44%;
    color: #fff;
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content span {
    color: #000;
  }
}
